.categories {
  // .categories__container

  // .categories__wrapper-title

  &__wrapper-title {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    /* identical to box height */

    text-align: center;

    color: #000000;
    margin-top: 46px;
  }

  // .categories__row

  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
}

.category {
  // .category__item

  &__item {
    @include adaptiveValue("width", 500, 360);
    height: 200px;

    padding: 19px 12px;
    background: #fffefe;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
    margin-top: 36px;
    display: flex;
    align-items: center;
  }

  // .category__inner

  &__inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    img {
      width: 50%;
      height: 100%;
      margin-left: 20px;
    }
  }

  // .category__title

  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 16px;
  }
}
