//====================================================================================================
.footer {
  width: 100%;
  background-color: $footer;
  color: $white;
  margin-top: 60px;
  // .footer__container

  &__container {
    display: flex;
    padding: 30px 0 50px 0;
    @media (max-width: $tablet) {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  // .footer__contacts

  &__contacts {
  }

  // .footer__contacts-inner

  &__contacts-inner {
    display: flex;
    margin-top: 12px;
    @media (max-width: $tablet) {
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 0px 12px;
      text-align: left;
    }
  }
}
.footer-col-1 {
  flex-grow: 4;
}
.footer-col-title {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  margin-top: 12px;
  @media (max-width: $tablet) {
    margin-top: 24px;
  }
}
.footer-col-descr {
  margin-top: 9px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  @media (max-width: $tablet) {
    margin: 0 auto;
    margin-top: 24px;
    width: 80%;
  }
}
.footer-phone {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  span {
    font-weight: 400;
    margin-left: 6px;
  }
}
.footer-email {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  span {
    font-weight: 400;
    margin-left: 6px;
  }
  margin-left: 10px;
}
.footer-adress {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  margin-left: 10px;
  span {
    font-weight: 400;
    margin-left: 6px;
  }
}
.footer-col-2 {
  flex-grow: 3;
}
.footer-policy {
  // .footer-policy__row

  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  // .footer-policy__item

  &__item {
    margin-top: 8px;
    width: 50%;
  }
}
.footer-socials {
  display: flex;
  margin-top: 12px;
  @media (max-width: $tablet) {
    margin-top: 24px;
    justify-content: center;
  }
  gap: 30px;
  ul {
    display: flex;
    margin-top: 8px;
    gap: 30px;
  }
}

//====================================================================================================
